page-post-my {
  $color: map-get($kombit-colors, 'text');
  .post-list-box {
    margin-bottom: 16px;
    background: $color;
    -ms-box-shadow: 0 4px 10px RGBA(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px RGBA(0, 0, 0, 0.3);
    width: 100%;
    font-size: 12px;
  }

  .box-label {
    margin: 0 6px;
  }

  .box-button {
    margin: 0px;
    font-weight: 200;
    text-transform: capitalize;
    @include background-content(180deg);
    border: none;
    color: map-get($kombit-colors, 'text');
    ion-icon + span {
      margin-left: 6px;
    }
  }

  .box-content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-all;
    width: calc(100% - 64px);
    font-weight: 500;
  }

  .box-text {
    width: 52px;
  }

  .box-icon {
    font-size: 10px;
    margin: 4px 6px;
    ion-icon {
      @include color-item();
    }
  }

  button.item {
    min-height: 1rem !important;
    background-color: $color;
    border: 1px solid $color;
    border-radius: 10px;
    margin-bottom: 8px;
    -ms-box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    ion-label {
      width: calc(100% - 8px - 24px) !important;
      margin: 6px 16px !important;
      text-align: center;
      font-weight: 900;
    }
  }
}
