<ion-header class="custom-background">

  <ion-navbar>
    <ion-title>My Post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-list>
        <div *ngFor="let data of listProducts">
          <div class="post-list-box" [@postAnimation] *ngIf="data.id === selectedProductId" (click)="showDetail($event, data)">
            <div class="image-container">
              <img *ngIf="data.fotoPath" [src]="data.fotoPath" />
            </div>
            <ion-label no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Product</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{data.productName}}</ion-label>
              <ion-icon *ngIf="data.posterId === userId" name="create" (click)="editPost($event, data)"></ion-icon>
            </ion-label>
            <ion-label no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Company</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{data.companyName}}</ion-label>
            </ion-label>
            <ion-label no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Holding</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{data.holdingName}}</ion-label>
            </ion-label>
            <ion-label no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Solution</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{data.categoryName}}</ion-label>
            </ion-label>
            <ion-label no-margin class="box-label" *ngIf="data.isIncludePrice">
              <ion-label no-padding no-margin class="inline-flex box-text">Price</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{data.currency}} {{data.price | number}}</ion-label>
            </ion-label>
            <ion-row text-center class="box-icon">
              <ion-col no-padding>
                <ion-icon name="eye"></ion-icon>
                <span>{{data.totalView}} Views</span>
              </ion-col>
              <ion-col no-padding>
                <ion-icon name="call"></ion-icon>
                <span>{{data.totalChat}} Calls</span>
              </ion-col>
              <ion-col no-padding>
                <img src="assets/imgs/comment.png" />
                <span>{{data.totalComment}} Comments</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col no-padding>
                <button ion-button full small class="box-button" (click)="likeBtnClick($event, data)">
                  <ion-icon *ngIf="!lockBtn || data.id !== selectedProductId" [name]="data.isLike ? 'heart' : 'heart-outline'"></ion-icon>
                  <span *ngIf="!lockBtn || data.id !== selectedProductId">{{data.totalLike}}</span>
                  <ion-spinner name="dots" *ngIf="lockBtn && data.id === selectedProductId"></ion-spinner>
                </button>
              </ion-col>
              <ion-col no-padding>
                <button ion-button full small class="box-button" (click)="showDetail($event, data)">Discovery More</button>
              </ion-col>
            </ion-row>
          </div>
          <button ion-item no-lines (click)="showPost(data.id)">{{data.productName}}</button>
        </div>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>