page-post-my {
  .post-list-box {
    margin-bottom: 16px;
    background: $combitWhite;
    -ms-box-shadow: 0 4px 10px RGBA(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px RGBA(0, 0, 0, 0.3);
    width: 100%;
    font-size: 12px;
    .image-container {
      height: 216px;
      display: flex;
      justify-content: center;
      > img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .interaction-button {
    margin: 0px;
    font-weight: 200;
    text-transform: capitalize;
    background-color: $combitOrange;
    border: none;
    color: $combitWhite ion-icon + span {
      margin-left: 6px;
    }
  }

  .interaction-container {
    font-size: 10px;
    margin: 4px 6px;
    ion-icon {
      color: $combitOrange;
      margin-right: 2px;
    }
    img {
      width: 9px;
      margin-right: 2px;
    }
  }

  .post-list-container {
    min-height: 1rem;
    background-color: $combitWhite;
    border: 1px solid $combitWhite;
    border-radius: 10px;
    margin-bottom: 8px;
    -ms-box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    ion-label {
      width: calc(100% - 8px - 24px);
      margin: 6px 16px;
      text-align: center;
    }
  }

  .detail-container {
    margin: 0 6px;
    &.has-button-inside {
      display: inline-block;
      width: calc(100% - 64px);
    }
    .detail-label {
      width: 52px;
      display: inline-block;
    }
    .detail-content {
      display: inline-block;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      word-break: break-word;
      width: calc(100% - 78px);
      font-weight: 500;
    }
  }
  .action-button-container {
    float: right;
    font-size: 18px;
    margin-right: 8px;
    ion-icon {
      margin: 0 2px;
    }
  }

  .like-icon-number {
    margin-left: 4px;
  }
}
