page-login {
  // ion-content {
  // background-image: url('../assets/imgs/BackgroundLogin.png');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position-x: center;
  // background-position-y: -24px;
  // }
  .login-background {
    position: absolute;
    width: 100%;
    height: calc(100vh - 250px);
    z-index: 1;
    @include color-background(0deg);
    &::after {
      border-left: 86px solid #fff;
      border-right: 86px solid #fff;
      border-top: 36px solid transparent;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0px;
      right: 0px;
    }
  }
  .logo-container {
    height: 264px;
    position: relative;
    top: calc(100vh - 690px);
    left: -8px;
  }
  form {
    height: 100%;
  }
  ion-grid {
    // justify-content: center;
    height: 100%;
    ion-row {
      padding: 0 24px;
      margin-top: calc(100vh - 564px);
    }
  }
  ion-input {
    background-color: #fdfdfd;
    border: 1px solid #fdfdfd;
    border-radius: 25px;
    margin-bottom: 8px;
    -ms-box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.2);
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.2);
    input {
      width: calc(100% - 8px - 24px) !important;
      margin: 6px 16px !important;
      text-align: center;
      font-size: 16px;
    }
  }
  ion-footer {
    a {
      color: map-get($kombit-colors, 'btn');
    }
    button {
      height: 2.4em !important;
      width: 8em;
      span {
        font-weight: 400;
        font-size: 16px;
      }
    }
    &::before {
      background-image: none !important;
    }
    .toolbar-background {
      background-color: transparent !important;
    }
  }
}
