<ion-row no-padding class="row-container">
  <ion-col no-padding col-2 *ngFor="let item of menuContent" (click)="changePage(item)">
    <div class="container">
      <img *ngIf="!item.image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="alt="" />
      <img *ngIf="item.image" [src]="item.image" alt="" />
      <ion-badge class="notification-badge chat" *ngIf="item.component === 'ChatPage' && unreadChat"></ion-badge>
    </div>
    <ion-label no-margin no-padding class="tab-menu-label">{{item.title}}</ion-label>
  </ion-col>
</ion-row>