page-company {
  .image-container {
    height: 90px;
    width: 90px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
  }
  [col-4] {
    text-align: -webkit-center;
  }
}
