<ion-header class="custom-background">
  <ion-navbar>
    <ion-item class="top-searchbar">
      <ion-input type="text" placeholder="Company" [(ngModel)]="filterText" (input)="filterItems()"></ion-input>
      <ion-icon name="search" item-end></ion-icon>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <div class="spinner-container" *ngIf="isSearching">
      <ion-spinner></ion-spinner>
    </div>
    <ion-col col-4 *ngFor="let company of filteredItems">
      <div class="image-container">
        <p>{{company.companyName}}</p>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" />
      </div>
    </ion-col>
    <div text-center *ngIf="!filteredItems.length && !isSearching">Company not found</div>
  </ion-row>
</ion-content>
