page-solution {
  button.item {
    // @include color-background(90deg);
    background-color: $combitOrange;
    min-height: 1rem !important;
    border: 1px solid $combitWhite;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    margin-bottom: 18px;
    -ms-box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.2);
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.2);
    ion-label {
      width: calc(100% - 8px - 24px) !important;
      margin: 6px 16px !important;
      text-align: center;
      font-weight: 900;
      color: $combitWhite;
    }
  }

  .solution-text {
    margin: 6px 0;
    font-size: 10px;
    text-align: center;
    white-space: pre-wrap;
  }

  .solution-container {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    border: 1px solid $combitWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    img {
      width: 80%;
      object-fit: contain;
    }
    ion-icon {
      font-size: 36px;
      position: absolute;
      color: $combitGrey;
    }
  }
  [col-3] {
    text-align: -webkit-center;
  }

  .image-icon-container {
    height: 36px;
    width: 36px;
  }
}
