page-solution {
  button.item {
    @include background-content(90deg);
    min-height: 1rem !important;
    border: 1px solid #fdfdfd;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    margin-bottom: 18px;
    -ms-box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.2);
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.2);
    ion-label {
      width: calc(100% - 8px - 24px) !important;
      margin: 6px 16px !important;
      text-align: center;
      font-weight: 900;
      color: map-get($kombit-colors, 'text');
    }
  }
}
