page-profile {
  .static-map-container {
    margin-top: 10px;
    height: 216px;
    display: flex;
    justify-content: center;
    img {
      object-fit: contain;
      height: 100%;
    }
  }
  .box-content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    width: calc(100% - 86px);
    font-weight: 500;
  }
  .box-divider {
    margin-right: 4px;
  }
  .box-label {
    margin-top: 4px;
  }
  .box-text {
    width: 76px;
  }
  .divider-title ion-label {
    font-weight: 500;
  }
  .box-container {
    @include box();
    border-radius: 0px !important;
  }
  .image-container {
    width: 100%;
    text-align: center;
    height: 216px;
    img {
      object-fit: contain;
      height: 100%;
    }
  }
  .input-fields {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    ion-label {
      margin: 8px 16px 0px 16px !important;
      text-align: center;
      font-weight: 100;
    }
    input {
      @include box();
      text-align: center;
      margin-top: 2px !important;
    }
    textarea {
      @include box();
      margin-top: 0px !important;
      height: 70px;
    }
    ion-item {
      @include box();
      margin-left: 8px !important;
      margin-bottom: 16px !important;
      width: calc(100% - 8px - 8px) !important;
      .item-inner {
        border-bottom: none !important;
        ion-select {
          font-size: 14px !important;
          max-width: 100% !important;
          width: 100% !important;
          padding: 0 2px 0 0 !important;
          text-align: center;
          div.select-text,
          div.select-placeholder {
            padding-left: 18px;
          }
        }
      }
    }
  }
  button[btn-kombit] {
    width: 172px;
  }
  a {
    color: $combitOrange;
    text-decoration: unset;
    font-weight: 400;
  }
}
