<ion-header no-shadow>
  <ion-navbar></ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row class="margin-20">
    <ion-col>
      <div text-center class="line">
        <span>
          <h2>Registration</h2>
        </span>
      </div>
    </ion-col>
  </ion-row>
  <ion-row text-center>
    <ion-col class="input-fields">
      <form id="formRegistration" #formRegistration="ngForm">
        <ion-item class="form-select-item">
          <ion-select class="input-area" [(ngModel)]="registration.IdRole" name="Role" placeholder="Role" interface="popover" required>
            <ion-option [value]="item.id" *ngFor="let item of listRoles">{{item.roleName}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-input type="text" [(ngModel)]="registration.Name" name="Name" placeholder="Name" required></ion-input>
        <ion-input type="tel" [(ngModel)]="registration.Handphone" name="Handphone" placeholder="Handphone" pattern="^0|^62.*" required></ion-input>
        <ion-input type="email" [(ngModel)]="registration.Email" name="Email" placeholder="Email" required></ion-input>
        <div *ngIf="registration.IdRole === 2">
          <ion-item class="form-select-item">
            <ion-select class="input-area" [(ngModel)]="holdingId" name="Holding Company" placeholder="Holding Company" interface="popover" (ionChange)="changeCompany()" required>
              <ion-option [value]="item.id" *ngFor="let item of listHoldingCompany">{{item.holdingName}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="form-select-item">
            <ion-select class="input-area" [(ngModel)]="registration.CompanyId" name="Company" placeholder="Company" interface="popover" [disabled]="!holdingId" required>
              <ion-option [value]="item.id" *ngFor="let item of listCompany">{{item.companyName}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
        <ion-input type="text" [(ngModel)]="registration.Username" name="Username" placeholder="Username" required></ion-input>
        <ion-input type="password" [(ngModel)]="registration.Password" name="Password" pattern="(?=.*[0-9A-z@#$%^&+=\\s]).{1,}" placeholder="Password" required></ion-input>
        <button ion-button btn-kombit type="button" (click)="register()">Verification</button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>