<ion-header class="custom-background">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item class="top-searchbar">
      <ion-input type="text" placeholder="search" [(ngModel)]="filterText" (input)="filterItems()"></ion-input>
      <ion-icon name="search" item-end></ion-icon>
    </ion-item>
  </ion-navbar>

  <div class="location-indicator" *ngIf="locationEnabled" (click)="locationIndicatorClicked()">
    <span>{{locationIndicatorText}}</span>
  </div>
</ion-header>

<ion-content padding>

  <ion-row class="random-images-slides">
    <ion-slides *ngIf="randomProduct.length" pager="true" autoplay="4000" loop="true">
      <ion-slide *ngFor="let slide of randomProduct">
        <img src="{{slide.fotoPath}}" />
      </ion-slide>
    </ion-slides>
  </ion-row>

  <ion-row class="promoted-product">
    <div class="spinner-container" *ngIf="isSearching">
      <div class="spinner-background">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <ion-label text-left class="show-label">Promoted</ion-label>
    <ion-label text-right class="show-label" (click)="showPromotedProduct()">View All</ion-label>
    <div text-center class="not-found-text" *ngIf="!promotedProduct.length && !isSearching">Promoted Product not found!</div>
    <ion-scroll class="side-scroll-item" scrollX="true">
      <div class="post-list-box promoted" *ngFor="let post of promotedProduct" (click)="showDetail(post)">
        <div class="promoted-image-container">
          <img *ngIf="post.fotoPath" class="post-image" [src]="post.fotoPath" />
        </div>
        <div class="box-label-container">
          <ion-label no-margin no-padding class="inline-flex box-content">{{post.productName}}</ion-label>
          <ion-icon text-right *ngIf="!lockBtn || post !== selectedLikePost" [name]="post.isLike ? 'heart' : 'heart-outline'"></ion-icon>
        </div>
      </div>
    </ion-scroll>
  </ion-row>

  <ion-row class="category-product">
    <div class="spinner-container" *ngIf="isSearchingSolution">
      <div class="spinner-background">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <ion-label text-left class="show-label">Solution</ion-label>
    <ion-label text-right class="show-label" (click)="showSolutions()">View All</ion-label>
    <div text-center class="not-found-text" *ngIf="!listSolution.length && !isSearchingSolution">Solution not found!</div>
    <ion-scroll class="side-scroll-item" scrollX="true">
      <div class="post-list-box solution" *ngFor="let solution of listSolution" (click)="showDetail(solution)">
        <!-- <img *ngIf="post.fotoPath" class="post-image" [src]="post.fotoPath" /> -->
        <div class="box-label-container">
          <ion-label no-margin no-padding class="inline-flex box-content">{{solution.category}}</ion-label>
        </div>
      </div>
    </ion-scroll>
  </ion-row>

  <ion-segment [(ngModel)]="postType" (ionChange)="segmentChanged()">
    <ion-segment-button value="public">
      Public
    </ion-segment-button>
    <ion-segment-button value="holding">
      Holding
    </ion-segment-button>
    <ion-segment-button value="favorite">
      Favorite
    </ion-segment-button>
    <ion-segment-button value="location">
      Location
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <div class="spinner-container" *ngIf="isSearching">
      <div class="spinner-background">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <ion-col col-6 *ngFor="let post of filteredItems">
      <ion-row>
        <div class="post-list-box">
          <img *ngIf="post.fotoPath" class="post-image" [src]="post.fotoPath" />
          <div class="box-label-container">
            <div no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Product</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.productName}}</ion-label>
              <ion-icon *ngIf="post.userId === userId" name="create" (click)="editPost(post)"></ion-icon>
            </div>
            <div no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Company</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.companyName}}</ion-label>
            </div>
            <div no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Holding</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.holdingName}}</ion-label>
            </div>
            <div no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Solution</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.categoryName}}</ion-label>
            </div>
            <div no-margin class="box-label" *ngIf="post.isIncludePrice">
              <ion-label no-padding no-margin class="inline-flex box-text">Price</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.currency}} {{post.price | number}}</ion-label>
            </div>
          </div>
          <ion-row text-center class="box-icon">
            <ion-col no-padding>
              <ion-icon name="eye"></ion-icon>
              <span>{{post.totalView}}</span>
              <br />
              <span>View</span>
            </ion-col>
            <ion-col no-padding>
              <ion-icon name="call"></ion-icon>
              <span>{{post.totalChat}}</span>
              <br />
              <span>Call</span>
            </ion-col>
            <ion-col no-padding>
              <img class="icon-img-comment" src="assets/imgs/comment.png" />
              <span>{{post.totalComment}}</span>
              <br />
              <span>Comment</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <button ion-button full small class="box-button interactionBtn" (click)="likeBtnClick(post)">
                <ion-icon *ngIf="!lockBtn || post !== selectedLikePost" [name]="post.isLike ? 'heart' : 'heart-outline'"></ion-icon>
                <span *ngIf="!lockBtn || post !== selectedLikePost">{{post.totalLike}}</span>
                <ion-spinner name="dots" *ngIf="lockBtn && post === selectedLikePost"></ion-spinner>
              </button>
            </ion-col>
            <ion-col no-padding>
              <button ion-button full small class="box-button" (click)="showDetail(post)">Discovery More</button>
            </ion-col>
          </ion-row>
        </div>
      </ion-row>
    </ion-col>
    <div text-center class="not-found-text" *ngIf="!filteredItems.length && !isSearching">Post not found</div>
  </ion-row>

  <ion-fab right bottom class="fab-button" *ngIf="newPostEnabled">
    <button ion-fab color="light" (click)="createNewPost()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>