<ion-header class="custom-background">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item class="top-searchbar">
      <ion-input type="text" placeholder="search" [(ngModel)]="searchText"></ion-input>
      <ion-icon name="search" item-end></ion-icon>
    </ion-item>
    <ion-label (click)="createNewPost()">New Post</ion-label>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-6>
      <ion-row *ngFor="let post of listPostLeft">
        <div class="post-list-box">
          <img [src]="post.ImageUrl" />
          <ion-label no-margin class="box-label">
            <ion-label no-padding no-margin class="inline-flex box-text">Product</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-content">{{post.Product}}</ion-label>
          </ion-label>
          <ion-label no-margin class="box-label">
            <ion-label no-padding no-margin class="inline-flex box-text">Company</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-content">{{post.Company}}</ion-label>
          </ion-label>
          <ion-label no-margin class="box-label">
            <ion-label no-padding no-margin class="inline-flex box-text">Holding</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-content">{{post.Holding}}</ion-label>
          </ion-label>
          <ion-label no-margin class="box-label">
            <ion-label no-padding no-margin class="inline-flex box-text">Solution</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-content">{{post.Solution}}</ion-label>
          </ion-label>
          <ion-row text-center class="box-icon">
            <ion-col no-padding>
              <ion-icon name="star"></ion-icon>
              <span>{{post.Views}} View</span>
            </ion-col>
            <ion-col no-padding>
              <ion-icon name="star"></ion-icon>
              <span>{{post.Calls}} Call</span>
            </ion-col>
            <ion-col no-padding>
              <ion-icon name="star"></ion-icon>
              <span>{{post.Comments}} Comment</span>
            </ion-col>
          </ion-row>
          <button ion-button full small class="box-button" (click)="showDetail(post)">Discovery More</button>
        </div>
      </ion-row>
    </ion-col>
    <ion-col col-6>
      <ion-row *ngFor="let post of listPostRight">
        <div class="post-list-box">
          <img [src]="post.ImageUrl" />
          <ion-label no-margin class="box-label">
            <ion-label no-padding no-margin class="inline-flex box-text">Product</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-content">{{post.Product}}</ion-label>
          </ion-label>
          <ion-label no-margin class="box-label">
            <ion-label no-padding no-margin class="inline-flex box-text">Company</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-content">{{post.Company}}</ion-label>
          </ion-label>
          <ion-label no-margin class="box-label">
            <ion-label no-padding no-margin class="inline-flex box-text">Holding</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-content">{{post.Holding}}</ion-label>
          </ion-label>
          <ion-label no-margin class="box-label">
            <ion-label no-padding no-margin class="inline-flex box-text">Solution</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
            <ion-label no-margin no-padding class="inline-flex box-content">{{post.Solution}}</ion-label>
          </ion-label>
          <ion-row text-center class="box-icon">
            <ion-col no-padding>
              <ion-icon name="star"></ion-icon>
              <span>{{post.Views}} View</span>
            </ion-col>
            <ion-col no-padding>
              <ion-icon name="star"></ion-icon>
              <span>{{post.Calls}} Call</span>
            </ion-col>
            <ion-col no-padding>
              <ion-icon name="star"></ion-icon>
              <span>{{post.Comments}} Comment</span>
            </ion-col>
          </ion-row>
          <button ion-button full small class="box-button" (click)="showDetail(post)">Discovery More</button>
        </div>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
