<ion-header class="custom-background">
  <ion-navbar>
    <button ion-button menuToggle *ngIf="menuEnabled" class="menu-button">
      <ion-icon [name]="menuIcon"></ion-icon>
    </button>

    <div *ngIf="chatEnabled" class="toolbar-button chat-image" (click)="toChatPage()">
      <img src="assets/imgs/chat-white.png">
      <ion-badge class="notification-badge chat" *ngIf="unreadChat"></ion-badge>
    </div>

    <ion-item class="top-searchbar home-searchbar" [class.disable-left-button]="!newPostEnabled" [class.no-left-menu]="!menuEnabled">
      <ion-input type="text" placeholder="search" [(ngModel)]="filterText" (input)="filterItems()"></ion-input>
      <ion-icon name="search" item-end></ion-icon>
    </ion-item>

    <button *ngIf="notificationEnabled" ion-button class="toolbar-button" [class.notification-button]="newPostEnabled" (click)="toNotificationPage()">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge class="notification-badge" *ngIf="unreadNotification"></ion-badge>
    </button>
  </ion-navbar>

  <div class="location-indicator" *ngIf="locationEnabled" (click)="locationIndicatorClicked()">
    <span>{{locationIndicatorText}}</span>
  </div>
</ion-header>

<ion-content padding class="has-searchbar">
  <ion-row *ngIf="sliderEnabled" class="random-images-slides">
    <div class="spinner-container" *ngIf="isSearchingSlider">
      <div class="spinner-background">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <ion-slides *ngIf="sliderProduct.length" pager="true" autoplay="4000" loop="true" (ionSlideTap)="slidesClicked()" (ionSlideAutoplayStop)="slideAutoPlayStopped()">
      <ion-slide *ngFor="let item of sliderProduct">
        <img src="{{item.fotoPath}}" />
        <div class="slider-text">
          <ion-label no-margin no-padding class="text-product">{{item.productName}}</ion-label>
          <ion-label no-margin no-padding class="sub-text-product">{{item.companyName}}</ion-label>
        </div>
        <ion-badge *ngIf="isPromoted" class="slider-badge">Promote</ion-badge>
      </ion-slide>
    </ion-slides>
  </ion-row>

  <ion-row *ngIf="solutionEnabled" class="category-product">
    <div class="spinner-container" *ngIf="isSearchingSolution">
      <div class="spinner-background">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <div text-center class="not-found-text" *ngIf="!listSolution.length && !isSearchingSolution">Solution not found!</div>
    <ion-col col-3 *ngFor="let solution of listSolution" (click)="filterSolutions(solution)">
      <div class="solution-container">
        <img *ngIf="!solution.image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="alt="" />
        <img *ngIf="solution.image" [src]="solution.image" alt="" />
      </div>
      <ion-label no-margin no-padding class="solution-text">{{solution.category}}</ion-label>
    </ion-col>
    <ion-col col-3 (click)="showAllSolutions(solution)">
      <div class="solution-container">
        <ion-icon name="apps"></ion-icon>
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="alt="" />
      </div>
      <ion-label no-margin no-padding class="solution-text">More</ion-label>
    </ion-col>
  </ion-row>

  <div class="product-divider" *ngIf="dividerEnabled"></div>

  <ion-row>
    <div class="spinner-container" *ngIf="isSearching">
      <div class="spinner-background">
        <ion-spinner></ion-spinner>
      </div>
    </div>
    <ion-col col-6 *ngFor="let post of filteredItems">
      <ion-row>
        <div class="post-list-box">
          <img *ngIf="post.fotoPath" class="post-image" [src]="post.fotoPath" (click)="showDetail(post)" />
          <div class="box-label-container" (click)="showDetail(post)">
            <div no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Product</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.productName}}</ion-label>
              <ion-icon *ngIf="post.posterId === userId" name="create" (click)="editPost($event, post)"></ion-icon>
            </div>
            <div no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Company</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.companyName}}</ion-label>
            </div>
            <div no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Holding</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.holdingName}}</ion-label>
            </div>
            <div no-margin class="box-label">
              <ion-label no-padding no-margin class="inline-flex box-text">Solution</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.categoryName}}</ion-label>
            </div>
            <div no-margin class="box-label" *ngIf="post.isIncludePrice">
              <ion-label no-padding no-margin class="inline-flex box-text">Price</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
              <ion-label no-margin no-padding class="inline-flex box-content">{{post.currency}} {{post.price | number}}</ion-label>
            </div>
          </div>
          <ion-row text-center class="box-icon">
            <ion-col no-padding>
              <ion-icon name="eye"></ion-icon>
              <span>{{post.totalView || 0}}</span>
              <br />
              <span>View</span>
            </ion-col>
            <ion-col no-padding>
              <ion-icon name="call"></ion-icon>
              <span>{{post.totalChat || 0}}</span>
              <br />
              <span>Call</span>
            </ion-col>
            <ion-col no-padding>
              <img class="icon-img-comment" src="assets/imgs/comment.png" />
              <span>{{post.totalComment || 0}}</span>
              <br />
              <span>Comment</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 no-padding>
              <button ion-button full small class="box-button interactionBtn" (click)="likeBtnClick(post)">
                <ion-icon *ngIf="!lockBtn || post !== selectedLikePost" [name]="post.isLike ? 'heart' : 'heart-outline'"></ion-icon>
                <span class="total-like-text" *ngIf="!lockBtn || post !== selectedLikePost">{{post.totalLike}}</span>
                <ion-spinner name="dots" *ngIf="lockBtn && post === selectedLikePost"></ion-spinner>
              </button>
            </ion-col>
            <ion-col col-8 no-padding>
              <button ion-button full small class="box-button" (click)="showDetail(post)">More</button>
            </ion-col>
          </ion-row>
        </div>
      </ion-row>
    </ion-col>
    <div text-center class="not-found-text" *ngIf="!filteredItems.length && !isSearching">Post not found</div>
  </ion-row>

</ion-content>

<ion-footer class="tab-menu">
  <ion-toolbar class="tab-menu-toolbar">
    <footer-menu></footer-menu>
  </ion-toolbar>
</ion-footer>