page-home {
  .location-indicator {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 96px;
    span {
      @include box();
    }
  }
  .segment {
    height: 2.8rem;
    margin-bottom: 10px;
  }
  .segment-button {
    border: none !important;
    height: 2.8rem !important;
    line-height: 2.8rem !important;
    @include color-item();
  }
  .segment-activated {
    @include color-background(180deg);
    color: map-get($kombit-colors, 'text') !important;
    @include color-border();
  }
  .post-list-box {
    &.promoted {
      width: 100px;
      display: inline-block;
      margin-right: 2px;
      margin-left: 2px;
      @include color-background(0deg);
      .promoted-image-container {
        padding: 4px;
        .post-image {
          object-fit: contain;
          height: 70px;
        }
      }
      .box-label-container {
        min-height: 28px;
        padding: 0 4px;
        font-size: 12px;
        color: map-get($kombit-colors, 'text');
        ion-label {
          width: 80%;
          font-weight: 100;
        }
        ion-icon {
          float: right;
        }
      }
    }
    &.solution {
      width: 80px;
      height: 70px;
      display: inline-block;
      margin-right: 2px;
      margin-left: 2px;
      .box-label-container {
        height: 60px;
        width: 100%;
        padding: 0 4px;
        font-size: 12px;
        color: map-get($kombit-colors, 'btn');
        display: flex;
        ion-label {
          width: 100%;
          font-size: 14px;
          white-space: normal;
        }
      }
    }

    margin-bottom: 16px;
    background: map-get($kombit-colors, 'text');
    -ms-box-shadow: 0 4px 10px RGBA(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px RGBA(0, 0, 0, 0.3);
    width: 100%;
    font-size: 10px;
    .post-image {
      width: 100%;
      height: 150px;
      object-fit: contain;
    }
  }
  .box-label-container {
    min-height: 80px;
  }
  .box-label {
    margin: 0 6px;
  }
  .box-button {
    margin: 0px;
    font-weight: 200;
    text-transform: capitalize;
    @include color-background(180deg);
    border: none;
    color: map-get($kombit-colors, 'text');
    ion-icon + span {
      margin-left: 6px;
    }
  }
  .box-content {
    white-space: nowrap;
    overflow-wrap: break-word;
    word-break: break-word;
    width: calc(100% - 64px);
    font-weight: 500;
    display: inline-block;
  }
  .box-text {
    width: 44px;
    display: inline-block;
  }
  .box-divider {
    display: inline-block;
  }
  .box-icon {
    font-size: 8px;
    margin: 4px 6px;
    ion-icon {
      @include color-item();
      margin-right: 2px;
    }
    img {
      width: 9px;
      margin-right: 2px;
    }
  }
  .top-searchbar {
    + ion-label {
      margin: 0;
      float: right;
      font-size: 12px;
      margin-top: 4px;
      margin-right: 8px;
      color: map-get($kombit-colors, 'text');
    }
  }

  .fab-button {
    bottom: 36px;
    button {
      width: 48px;
      height: 48px;
      @include color-background(180deg);
      ion-icon {
        color: map-get($kombit-colors, 'text');
      }
    }
  }
  .random-images-slides {
    height: 150px;
    margin-bottom: 12px;
    .swiper-container {
      border-radius: 20px;
    }
    .swiper-pagination {
      text-align: left;
      padding: 0 24px;
      bottom: 12px;
    }
    .swiper-slide {
      .slide-zoom {
        height: 100%;
        img {
          object-fit: fill;
          width: 100%;
        }
      }
    }
  }

  .notification-button {
    background-color: transparent;
    width: 36px;
    height: 36px;
    margin: 0px 0px 0px 18px;
    font-size: 16px;
    border: none;
    box-shadow: none;
    ion-icon {
      font-size: 28px;
      color: map-get($kombit-colors, 'text');
      // @include color-item();
      // &::before {
      // background: linear-gradient(
      //     90deg,
      //     map-get($kombit-colors, 'bg-low') 30%,
      //     map-get($kombit-colors, 'bg-high') 70%
      //   ),
      //   linear-gradient(0deg, #000 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // }
    }
    .notification-badge {
      position: relative;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      padding: 0;
      background-color: red;
      bottom: 8px;
      right: 8px;
      display: inline-block;
    }
    .notification-icon {
      position: absolute;
    }
  }

  .slider-badge {
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 12px;
    background-color: map-get($kombit-colors, 'bg-high');
  }

  .slider-text {
    $shadow-color: map-get($kombit-colors, 'text');
    position: absolute;
    top: 12px;
    left: 12px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-shadow: 1px 0px $shadow-color, -1px 0px $shadow-color, 1px 2px $shadow-color, 0px -1px $shadow-color;
    font-weight: 500;
    .text-product {
      font-size: 16px;
    }
  }

  .solution-text {
    margin: 6px 0;
    font-size: 10px;
    text-align: center;
  }

  .solution-container {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    img {
      width: 80%;
      object-fit: contain;
    }
    ion-icon {
      font-size: 36px;
      position: absolute;
      color: #aeaeae;
    }
  }
  [col-3] {
    text-align: -webkit-center;
  }
}
