<ion-header class="custom-background">

  <ion-navbar>
    <ion-title>Notification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-list>
        <div class="spinner-container" *ngIf="isSearching">
          <div class="spinner-background">
            <ion-spinner></ion-spinner>
          </div>
        </div>
        <div text-center *ngIf="!listNotification.length && !isSearching">Notification Empty</div>
        <ion-item *ngFor="let item of listNotification" (click)="openPage(item)">
          <label class="notification-title">{{item.title}}</label>
          <label class="notification-time">{{item.pushDate | timeAgo}}</label>
          <br/>
            <p class="notification-content">{{item.content}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-content>

  <ion-footer class="tab-menu">
    <ion-toolbar class="tab-menu-toolbar">
      <footer-menu></footer-menu>
    </ion-toolbar>
  </ion-footer>