$kombit-colors: (bg-high: #f2703f, bg-low: #fbcb4d, btn: #f18b1d, text: #fdfdfd);
$spinner-md-crescent-color: map-get($kombit-colors, 'btn');
$spinner-md-dots-color: map-get($kombit-colors, 'text');

@mixin color-background($direction) {
  background: map-get($kombit-colors, 'bg-high') !important;
  background: -moz-linear-gradient(
    $direction,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
  background: -webkit-linear-gradient(
    $direction,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
  background: linear-gradient(
    $direction,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
}

@mixin color-background-transparency($direction, $low, $high) {
  background: rgba(242, 112, 63, 1) !important;
  background: -moz-linear-gradient($direction, rgba(251, 203, 77, $low) 11%, rgba(242, 112, 63, $high) 77%) !important;
  background: -webkit-linear-gradient(
    $direction,
    rgba(251, 203, 77, $low) 11%,
    rgba(242, 112, 63, $high) 77%
  ) !important;
  background: linear-gradient($direction, rgba(251, 203, 77, $low) 11%, rgba(242, 112, 63, $high) 77%) !important;
}

@mixin color-item() {
  color: map-get($kombit-colors, 'bg-high') !important;
  color: -moz-linear-gradient(
    90deg,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
  color: -webkit-linear-gradient(
    90deg,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
  color: linear-gradient(
    90deg,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
}

@mixin color-border() {
  border-color: map-get($kombit-colors, 'bg-high') !important;
  border-color: -moz-linear-gradient(
    90deg,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
  border-color: -webkit-linear-gradient(
    90deg,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
  border-color: linear-gradient(
    90deg,
    map-get($kombit-colors, 'bg-low') 11%,
    map-get($kombit-colors, 'bg-high') 77%
  ) !important;
}

@mixin box() {
  min-height: 1rem !important;
  background-color: map-get($kombit-colors, 'text');
  border: 1px solid map-get($kombit-colors, 'text');
  border-radius: 20px !important;
  padding: 4px 12px !important;
  margin-bottom: 8px !important;
  -ms-box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3) !important;
  box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3) !important;
}

ion-header.custom-background {
  .toolbar-background {
    @include color-background(0deg);
  }
  div.toolbar-content {
    div.toolbar-title {
      margin-right: 56px !important;
      text-align: center !important;
      color: map-get($kombit-colors, 'text') !important;
      font-weight: 100 !important;
      font-size: 16px !important;
    }
    div.toolbar-title-ios {
      margin-right: 0px !important;
    }
  }
}

ion-header {
  button.bar-button,
  button.back-button {
    color: map-get($kombit-colors, 'text') !important;
  }
}

ion-navbar.toolbar.toolbar-md {
  min-height: 10px;
}

ion-content.content.content-md:not(.menu-content):not(.popover):not(.login) {
  > .fixed-content {
    margin-top: 42px !important;
  }
  > .scroll-content {
    margin-top: 42px !important;
  }
}

.inline-flex {
  display: inline-flex;
}

ion-popover.popover-width .popover-content {
  width: 95% !important;
  max-height: calc(100% - 16px) !important;
  height: 100% !important;
  left: calc(100vw - 97.5%) !important;
  top: 8px !important;
  border-radius: 12px;
}

ion-popover.popover-width-full {
  .popover-content {
    width: 100% !important;
    max-height: 100% !important;
    height: 100% !important;
    left: 0px !important;
    border-radius: 0px;
    top: 0px !important;
  }
}

ion-popover.popover-width-solution {
  background-color: RGBA(0, 0, 0, 0.5);
  .popover-content {
    width: 100% !important;
    max-height: 400px !important;
    height: 100% !important;
    left: 0px !important;
    top: auto !important;
    border-radius: 0px;
    bottom: 0px !important;
  }
}

ion-popover.popover-width-marketing-kit {
  background-color: RGBA(0, 0, 0, 0.5);
  .popover-content {
    width: 100% !important;
    max-height: 240px !important;
    height: 100% !important;
    left: 0px !important;
    top: auto !important;
    border-radius: 0px;
    bottom: 0px !important;
  }
}

ion-popover.popover-width-contact {
  background-color: RGBA(0, 0, 0, 0.5);
  .popover-content {
    width: 100% !important;
    max-height: 296px !important;
    height: 100% !important;
    left: 0px !important;
    top: auto !important;
    border-radius: 0px;
    bottom: 0px !important;
  }
}

.top-searchbar {
  width: calc(100% - 96px) !important;
  display: inline-flex !important;
  min-height: 2rem !important; // left: 20px !important;
  background-color: transparent !important;
  -ms-box-shadow: 0 4px 10px RGBA(0, 0, 0, 0.3) !important;
  box-shadow: 0 4px 10px RGBA(0, 0, 0, 0.3) !important;
  margin-left: 16px !important;
  padding-left: 0px !important;
  border-radius: 25px !important;
  .item-inner {
    border: 1px solid map-get($kombit-colors, 'text') !important;
    background-color: map-get($kombit-colors, 'text') !important;
    box-shadow: none !important;
    border-radius: 25px !important; // padding: 0 12px !important;
    font-size: 12px !important;
    box-shadow: none !important;
    ion-icon {
      min-height: 10px !important;
      margin: 0px !important;
      font-size: 18px !important;
      color: map-get($kombit-colors, 'btn');
    }
    input {
      text-align: center;
      margin: 0px !important;
      padding-left: 32px;
      width: calc(100% - 4.5px);
    }
  }
}

.font-size-10 {
  font-size: 10px !important;
}

.no-border {
  border: none !important;
  box-shadow: none !important;
}

.no-margin {
  margin: 0 !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 10px !important;
}

.margin-top-36 {
  margin-top: 36px !important;
}

.margin-vertical-20 {
  margin: 20px 0 !important;
}

.toast-message {
  white-space: pre-line;
}

.spinner-container {
  text-align: center;
  margin-top: 10%;
  width: 100%;
  position: absolute;
  z-index: 10000;
  right: 0px;
  left: 0px;
  .spinner-background {
    margin-right: calc(50% - 18px);
    margin-left: calc(50% - 18px);
    background-color: white;
    border-radius: 50%;
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.5);
    ion-spinner {
      width: 32px;
      height: 32px;
      top: 2px;
    }
  }
}

.not-found-text {
  margin-top: 48px;
  width: 100%;
}

[btn-kombit] {
  border-radius: 20px !important;
  background-color: map-get($kombit-colors, 'btn') !important;
  text-transform: capitalize !important;
  padding: 12px 24px !important;
  margin-bottom: 20px !important;
}
