page-home-location {
  [hideBackButton] button {
    background-color: transparent;
    ion-icon {
      font-size: 24px;
      display: inline-block;
      position: relative;
      color: $combitWhite;
      margin: 3px 11px 3px 11px;
    }
  }
  ion-title {
    display: inline-block;
    width: calc(100% - 116px);
  }
  .segment {
    height: 2.8rem;
    margin-bottom: 10px;
  }
  .segment-button {
    height: 2.8rem !important;
    line-height: 2.8rem !important;
    font-size: 16px;
    // @include color-item();
    color: $combitOrange;
  }
  .segment-activated {
    border-color: $combitOrange;
    // @include color-border();
  }
  button {
    &[ion-item] {
      min-height: 2.8rem !important;
      ion-label {
        margin: 8px 8px 8px 0 !important;
      }
      ion-icon {
        margin: 0px !important;
        font-size: 2rem !important;
      }
    }
  }
  .box {
    @include box();
    .range-bar-active,
    .range-pin,
    .range-pin::before,
    .range-knob {
      background: $combitOrange !important;
    }
  }
}
