// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/combit';
@import 'quill.core';
@import 'quill.snow';
@import 'quill.bubble';

ion-menu {
  .header-md::after {
    background-image: none;
  }

  .menu-header {
    margin-top: 16px;
    background-color: transparent;
    text-align: center;
    height: 150px;
    width: 100%;
    img {
      height: 100%;
      border-radius: 50%;
      object-fit: contain;
    }

    + h4 {
      margin: 6px 0;
      color: $combitOrange;
    }
  }
  ion-content {
    background-color: $combitBlue !important;

    button.item-block {
      min-height: 2.4rem;
      background-color: transparent;
      ion-icon {
        margin: 4px 8px 4px 0px !important;
        color: $combitOrange;
      }
      ion-label {
        // margin: 0 !important;
        color: $combitWhite;
        font-weight: 200;
      }
    }
  }
  .menu-content .menu-icon-img {
    width: 28px;
    + .item-inner {
      margin-left: 20px;
    }
  }
}

.tab-menu {
  background-color: rgba(117, 117, 117, 0.4);

  .tab-menu-toolbar {
    margin-top: 4px;
    padding: 0px;
  }
}
