<!-- Generated template for the ProductDetailComponent component -->
<ion-row>
  <div>
    <ion-label no-margin class="box-label">
      <ion-label no-padding no-margin class="inline-flex box-text">Product</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider"> : </ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.productName}}</ion-label>
    </ion-label>
    <ion-label no-margin class="box-label">
      <ion-label no-padding no-margin class="inline-flex box-text">Company</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.companyName}}</ion-label>
    </ion-label>
    <ion-label no-margin class="box-label">
      <ion-label no-padding no-margin class="inline-flex box-text">Solution</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.categoryName}}</ion-label>
    </ion-label>
    <ion-label no-margin class="box-label" *ngIf="data.isIncludePrice">
      <ion-label no-padding no-margin class="inline-flex box-text">Price</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.price | number}}</ion-label>
    </ion-label>
    <ion-row>
      <ion-col no-padding>
        <button ion-button small class="interactionBtn" (click)="likeBtnClick()">
          <ion-icon *ngIf="!lockBtn" [name]="data.interaction.isLike ? 'heart' : 'heart-outline'"></ion-icon>
          <span *ngIf="!lockBtn">{{data.interaction.totalLike}}</span>
          <ion-spinner name="dots" *ngIf="lockBtn"></ion-spinner>
        </button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button small class="interactionBtn" (click)="changePage('comment')">
          <img class="btn-icon-img-comment" src="assets/imgs/comment-white.png" />
          <span>{{data.interaction.totalComment}}</span>
        </button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button small class="interactionBtn" (click)="changePage('contact')">
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div class="margin-top-10" *ngIf="data.fotoPath">
    <img [src]="data.fotoPath" [alt]="data.fotoName" />
  </div>
  <div>
    <h6>Description:</h6>
    <p>{{data.description}}</p>
  </div>
  <div text-center class="video-container" *ngIf="data.videoPath">
    <video controls width="100%">
      <source [src]="data.videoPath" type="video/mp4" />
    </video>
  </div>
  <div *ngIf="data.credentials">
    <h6>Success story or client review:</h6>
    <p>{{data.credentials}}</p>
  </div>
</ion-row>
