page-post-detail {
  .box-label {
    margin: 0 6px;
  }

  ion-header ion-label {
    display: inline-block;
    font-size: 18px;
    text-transform: capitalize;
    margin: 14px 0 0 0 !important;
    width: 100%;
    text-align: center;
  }

  .box-content {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-all;
    width: calc(100% - 64px);
    font-weight: 500;
  }

  p {
    white-space: pre-wrap;
    text-align: justify;
  }

  .box-text {
    width: 60px;
  }

  div {
    width: 100%;
  }

  .popover-icon {
    margin-top: 10px;
    font-size: 30px;
    position: absolute;
    z-index: 10000;
    &[name~='close-circle'] {
      right: 20px;
      top: 0;
      color: map-get($colors, 'danger');
      width: 24px;
      height: 24px;
      background-color: #dedede;
      border-radius: 20px;
    }
    &::before {
      position: relative;
      bottom: 3px;
    }
    &[name~='arrow-back'] {
      left: 20px;
      top: 0;
    }
  }

  ion-scroll.detail {
    height: calc(100vh - 318px);
    .scroll-content {
      height: 100%;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }

  ion-scroll.comment {
    height: calc(100vh - 40px);
    margin-top: 24px;
    .scroll-content {
      height: 100%;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }

  .header-md::after {
    background-image: none;
  }

  .popover {
    padding: 0px !important;
  }

  .videoPlayer {
    width: 100%;
  }

  h6 {
    margin: 4px 0 !important;
  }
  p {
    margin: 8px 0 !important;
  }

  .interaction-container {
    margin: 0 8px;
  }
  .interaction-wrapper {
    margin: 0 2px;
  }
  .interactionBtn {
    width: 100%;
    border: none;
    border-radius: 6px;
    color: map-get($kombit-colors, 'text');
    @include color-background(180deg);
    ion-icon + span {
      margin-left: 6px;
    }
  }

  .slider-container .swiper-pagination {
    text-align: left;
    padding: 0 24px;
    bottom: 12px;
    button {
      background-color: #dedede;
      width: 12px;
      height: 12px;
    }
  }
  .slide-image-container {
    height: 216px;
    .slide-zoom {
      display: flex;
      height: 100%;
      img {
        object-fit: fill;
        width: 100%;
      }
    }
  }

  .segment.segment-product {
    height: 2.8rem;
    margin-bottom: 10px;
    padding: 16px 0;
    .segment-button.segment-product-button {
      background-color: #fff;
      height: 2.8rem !important;
      line-height: 2.8rem !important;
      font-size: 10px;
      font-stretch: ultra-condensed;
      font-weight: 400;
      border-top: 2px solid;
      border-bottom: none;
      @include color-border();
      @include color-item();
      &.segment-activated {
        color: map-get($kombit-colors, 'text') !important;
        @include color-background(180deg);
      }
    }
  }

  .btn-icon-img-comment {
    width: 18px;
    margin-right: 6px;
  }
}
