<!--
  Generated template for the PostDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-icon class="popover-icon" name="arrow-back" (click)="back()" *ngIf="selectedPage !== 'detail'"></ion-icon>
  <ion-label>{{selectedPage}}</ion-label>
  <ion-icon class="popover-icon" name="close-circle" (click)="close()"></ion-icon>
</ion-header>

<ion-content padding class="popover">
  <ion-scroll scrollY="true">
    <div *ngIf="isSearching">
      <div></div>
      <ion-spinner></ion-spinner>
    </div>
    <product-detail *ngIf="selectedPage === 'detail' && !isSearching" [data]="data" (selectedPage)="changePage($event)"></product-detail>
    <product-comment *ngIf="selectedPage === 'comment' && !isSearching" [data]="data"></product-comment>
    <product-contact *ngIf="selectedPage === 'contact' && !isSearching" [data]="data"></product-contact>
  </ion-scroll>
</ion-content>
