<!-- Generated template for the ProductContactComponent component -->
<ion-row padding>
  <div>
    <div class="margin-top-10 image-container">
      <!-- <img *ngIf="data.contact.image" [src]="data.contact.image" [alt]="data.contact.name" /> -->
      <img src="assets/imgs/profile.png" alt="placeholder" />
    </div>
    <ion-label no-margin class="box-label">
      <ion-label no-padding no-margin class="inline-flex box-text">Name</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider"> : </ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.contactName}}</ion-label>
    </ion-label>
    <!-- <ion-label no-margin class="box-label">
      <ion-label no-padding no-margin class="inline-flex box-text">Job Title</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.contact.jobTitle}}</ion-label>
    </ion-label> -->
    <!-- <ion-label no-margin class="box-label">
      <ion-label no-padding no-margin class="inline-flex box-text">Email</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.contact.email}}</ion-label>
    </ion-label> -->
    <ion-label no-margin class="box-label">
      <ion-label no-padding no-margin class="inline-flex box-text">Handphone</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.contactHandphone}}</ion-label>
    </ion-label>
    <!-- <ion-label no-margin class="box-label">
      <ion-label no-padding no-margin class="inline-flex box-text">Address</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-divider">:</ion-label>
      <ion-label no-margin no-padding class="inline-flex box-content">{{data.contact.address}}</ion-label>
    </ion-label> -->
    <ion-row>
      <ion-col>
        <button ion-button small class="interactionBtn" (click)="openCallChooser()">
          <ion-icon name="call"></ion-icon>
        </button>
      </ion-col>
      <ion-col *ngIf="data.posterAsContact || data.poster.id !== data.contact.id">
        <button ion-button small class="interactionBtn" (click)="makeAppointmentClicked()">
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-col>
      <ion-col *ngIf="data.posterAsContact || data.poster.id !== data.contact.id">
        <button ion-button small class="interactionBtn" (click)="openChatPage()">
          <ion-icon name="chatbubbles"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <!-- <div class="static-map-container">
      <img *ngIf="data.contact.addressMap" [src]="data.contact.addressMap" (click)="openMap()" />
    </div> -->
  </div>
</ion-row>