page-post-new {
  @mixin icon-inside-wrapper {
    font-size: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @include color-item();
  }
  ion-col {
    text-align: center;
  }
  .required {
    color: red;
  }
  .wrapper {
    font-size: 0;
    .image-wrapper {
      display: inline-block;
      margin: 0;
      width: 33.3333%;
      box-sizing: border-box;
      padding: 1px;
      position: relative;
      .remove-image {
        z-index: 100;
        position: absolute;
        right: 1px;
        top: 1px;
        padding: 5px 6px;
        font-size: 20px;
        text-shadow: white 0 0 1px;
      }
      .image {
        position: relative;
        background-size: cover;
        background-position: center center;
        img {
          width: 100%;
        }
        ion-icon {
          @include icon-inside-wrapper();
        }
      }
    }
  }
  .video-wrapper {
    width: 80%;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    padding: 1px;
    position: relative;
    .placeholder {
      position: relative;
      background-size: cover;
      background-position: center center;
      img {
        width: 20%;
      }
      ion-icon {
        @include icon-inside-wrapper();
      }
    }
  }
  .input-fields {
    padding: 0 36px;
  }
  .divider {
    width: 100%;
    border-bottom: 2px solid;
    padding: 16px 0 8px 0;
    @include color-border();
  }
  ion-label {
    margin: 8px 16px 0px 16px !important;
    text-align: center;
    font-weight: 100;
  }
  input {
    @include box();
    margin-top: 2px !important;
  }
  textarea {
    @include box();
    margin-top: 0px !important;
    height: 70px;
  }
  .videoPlayer {
    width: 100%;
  }
  ion-item {
    @include box();
    margin-left: 8px !important;
    margin-bottom: 16px !important;
    width: calc(100% - 8px - 8px) !important;
    .item-inner {
      border-bottom: none !important;
      ion-select {
        font-size: 14px !important;
        max-width: 100% !important;
        width: 100% !important;
        padding: 0 2px 0 0 !important;
      }
    }
  }
  .card-container {
    margin-left: 42px;
    border-radius: 20px;
    height: 200px;
    width: calc(100% - 84px);
    @include box();
    #toolbar {
      padding: 0 0 4px 0;
      border-top: none;
      border-left: none;
      border-right: none;
      position: relative;
      z-index: 1000;
      .toolbar-button {
        width: 100%;
        font-size: 12px;
        color: map-get($kombit-colors, 'bg-high');
      }
    }
    .ql-container {
      border-left: none;
      border-right: none;
      .ql-editor {
        height: 76%;
      }
    }
  }
  .contact-toggle {
    display: inline-block;
    &.toggle-checked {
      .toggle-icon {
        background-color: map-get($kombit-colors, 'bg-low');
      }
      .toggle-inner {
        background-color: map-get($kombit-colors, 'bg-high');
      }
    }
  }
  .attachment-item {
    height: 32px;
    ion-label {
      padding-bottom: 8px;
    }
    ion-icon {
      font-size: 16px;
      padding-top: 8px;
    }
  }
  .segment.segment-product {
    height: 2.8rem;
    margin-bottom: 10px;
    .segment-button.segment-product-button {
      height: 2.8rem !important;
      line-height: 2.8rem !important;
      font-size: 10px;
      font-stretch: ultra-condensed;
      font-weight: 400;
      @include color-border();
      @include color-item();
      &.segment-activated {
        color: map-get($kombit-colors, 'text') !important;
        @include color-background(180deg);
      }
    }
  }
  .attachment-button {
    background-color: transparent;
    border-radius: 20px;
    height: 36px;
    width: 36px;
    ion-icon {
      font-size: 32px;
      color: map-get($kombit-colors, 'bg-high');
    }
  }
}
