<ion-header class="custom-background">
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-margin no-padding>
  <ion-row>
    <ion-col>
      <div class="wrapper">
        <div class="image-wrapper" *ngFor="let image of imagePathSecure">
          <ion-icon class="remove-image" name="close" (click)="removeImage(image)"></ion-icon>
          <div class="image" [style.background-image]="image.sanitize">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="alt="" />
          </div>
        </div>
        <div class="image-wrapper add-image-btn" (click)="getFilePath('foto')">
          <div class="image">
            <img class="picture-image-icon" src="assets/imgs/product-add-image.png" />
          </div>
        </div>
      </div>
      <ion-label class="no-margin">Add Product Image</ion-label>
      <ion-label class="no-margin font-size-10">(640px x 1136px)</ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-segment padding class="segment-product" [(ngModel)]="segmentName">
        <ion-segment-button class="segment-product-button" value="Description">
          Description
        </ion-segment-button>
        <ion-segment-button class="segment-product-button" value="Benefit">
          Benefit
        </ion-segment-button>
        <ion-segment-button class="segment-product-button" value="Feature">
          Feature
        </ion-segment-button>
        <ion-segment-button class="segment-product-button" value="Testimony">
          Testimony
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <form id="newPostForm" #form="ngForm">
        <ion-card class="card-item-container">
          <ion-item no-lines class="card-item-input">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-name.png" />
            <ion-input type="text" [(ngModel)]="data.ProductName" name="Product Name" placeholder="Product Name (e.g.omnichannell)" required></ion-input>
          </ion-item>
        </ion-card>
        <ion-card class="card-item-container">
          <ion-item no-lines class="card-item-input">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-solution.png" />
            <ion-select class="input-select" [(ngModel)]="data.CategoryId" name="Solution" interface="popover" placeholder="Product Solution (e.g.IT Solution)" required>
              <ion-option [value]="item.id" *ngFor="let item of listCategory">{{item.category}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-card>
      </form>
    </ion-col>
  </ion-row>

  <div *ngIf="segmentName === 'Description'">
    <ion-row>
      <ion-col>
        <ion-card class="card-item-container card-quill-container">
          <div class="quill-icon left">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-description.png" />
          </div>
          <quill-editor class="quill-editor" placeholder="Product Description" (onEditorCreated)="editorCreated($event, segmentName)" [(ngModel)]="data.Description" required="true">
            <div id="toolbar" class="no-toolbar" quill-editor-toolbar></div>
          </quill-editor>
          <div class="quill-icon right">
            <img item-end class="item-input-image-icon" src="assets/imgs/product-add-image.png" (click)="addImageToText(segmentName)" />
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <div class="video-wrapper margin-top-20">
      <div class="placeholder" (click)="getFilePath('video')">
        <video *ngIf="videoPathPublic" controls="controls" controlList="nodownload" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" #videoShow>
          <source [src]="videoPathPublic" type="video/mp4" /> Not Supported
        </video>
        <img *ngIf="!videoPathPublic" class="picture-image-icon" src="assets/imgs/product-add-video.png" />
        <ion-label *ngIf="!videoPathPublic">Upload Video</ion-label>
      </div>
    </div>

    <ion-row>
      <ion-col>
        <ion-card class="card-item-container no-border">
          <ion-item no-lines class="card-item-input" (click)="openModalContact()">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-contact.png" />
            <ion-label class="item-label">{{contactLabel}}</ion-label>
          </ion-item>
        </ion-card>
        <form id="newContactForm" *ngIf="contactToggle" #formContact="ngForm">
          <ion-card class="card-item-container">
            <ion-item *ngIf="!contactIsSelectable" no-lines class="card-item-input">
              <img item-start class="item-input-image-icon" src="assets/imgs/product-feature.png" />
              <ion-input type="text" [(ngModel)]="data.ContactName" name="Contact Name" placeholder="Contact Name" required [readonly]="contactToggle !== 3"></ion-input>
            </ion-item>
            <ion-item *ngIf="contactIsSelectable" no-lines class="card-item-input">
              <img item-start class="item-input-image-icon" src="assets/imgs/product-feature.png" />
              <ion-select class="input-select" [(ngModel)]="data.ContactId" name="Contact Name" interface="popover" placeholder="Contact Name" required (ionChange)="contactChanged($event)">
                <ion-option [value]="item.id" *ngFor="let item of listUser">{{item.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-card>
          <ion-card class="card-item-container">
            <ion-item no-lines class="card-item-input">
              <img item-start class="item-input-image-icon" src="assets/imgs/product-feature.png" />
              <ion-input type="tel" [(ngModel)]="data.ContactHandphone" name="Contact Handphone" placeholder="Contact Handphone" required [readonly]="contactToggle !== 3"></ion-input>
            </ion-item>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="segmentName === 'Benefit'">
    <ion-row>
      <ion-col>
        <ion-card class="card-item-container card-quill-container">
          <div class="quill-icon left">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-feature.png" />
          </div>
          <quill-editor class="quill-editor" placeholder="Product Benefit" (onEditorCreated)="editorCreated($event, segmentName)" [(ngModel)]="data.Benefit" required="true">
            <div id="toolbar" class="no-toolbar" quill-editor-toolbar></div>
          </quill-editor>
          <div class="quill-icon right">
            <img item-end class="item-input-image-icon" src="assets/imgs/product-add-image.png" (click)="addImageToText(segmentName)" />
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="card-item-container">
          <ion-item no-lines class="card-item-input">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-price.png" />
            <ion-input type="tel" [(ngModel)]="price" name="Price" placeholder="Price Product (e.g.Rp.1000.000-Apps)" (ionChange)="commaSeparated()"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="card-item-container no-border">
          <ion-item no-lines class="card-item-input" (click)="openModalMarketingKit()">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-marketing-kit.png" />
            <ion-label class="item-label">Add Marketing kit</ion-label>
          </ion-item>
        </ion-card>
        <ion-card class="card-item-container" *ngIf="attachmentFile.length">
          <ion-item no-lines class="card-item-input" *ngFor="let file of attachmentFile">
            <div item-start class="image-item-container">
              <img src="{{file.image}}" />
            </div>
            <ion-label class="item-label">{{file.name}}</ion-label>
            <ion-icon item-end name="close" class="item-input-icon" (click)="removeAttachmentFile(file)"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="segmentName === 'Feature'">
    <ion-row>
      <ion-col>
        <ion-card class="card-item-container card-quill-container">
          <div class="quill-icon left">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-feature.png" />
          </div>
          <quill-editor class="quill-editor" placeholder="Product Feature" (onEditorCreated)="editorCreated($event, segmentName)" [(ngModel)]="data.Feature" required="true">
            <div id="toolbar" class="no-toolbar" quill-editor-toolbar></div>
          </quill-editor>
          <div class="quill-icon right">
            <img item-end class="item-input-image-icon" src="assets/imgs/product-add-image.png" (click)="addImageToText(segmentName)" />
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="segmentName === 'Testimony'">
    <ion-row>
      <ion-col>
        <div class="wrapper">
          <div class="image-wrapper smaller-wrapper" *ngFor="let image of certificatePathSecure">
            <ion-icon class="remove-image" name="close" (click)="removeCertificate(image)"></ion-icon>
            <div class="image" [style.background-image]="image.sanitize">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="alt="" />
            </div>
          </div>
          <div class="image-wrapper add-image-btn smaller-wrapper" (click)="getFilePath('certificate')">
            <div class="image">
              <img class="picture-image-icon" src="assets/imgs/product-add-image.png" />
            </div>
          </div>
        </div>
        <ion-card class="card-item-container">
          <ion-item no-lines class="card-item-input">
            <img item-start class="item-input-image-icon" src="assets/imgs/product-certificate.png" />
            <ion-input type="text" [(ngModel)]="data.Certificate" name="Product Certificate" placeholder="Product Certificate"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="wrapper">
          <div class="image-wrapper add-image-btn smaller-wrapper" (click)="getFilePath('implementation')">
            <div class="image">
              <img class="picture-image-icon" src="assets/imgs/product-add-image.png" />
            </div>
          </div>
          <ion-card class="card-item-container" *ngFor="let file of implementationPathSecure">
            <ion-item no-lines class="card-item-input implementation-item">
              <ion-avatar item-start class="implementation-item-avatar">
                <div class="image" *ngIf="file.type === 'implementationImage'" [style.background-image]="file.sanitize">
                  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="alt="" />
                </div>
                <div class="video" *ngIf="file.type === 'implementationVideo'">
                  <video controls="controls" controlList="nodownload" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" #videoItemShow>
                    <source [src]="file.sanitize" type="video/mp4" /> Not Supported
                  </video>
                </div>
              </ion-avatar>
              <ion-input type="text" [(ngModel)]="file.title" name="Implementation Title" placeholder="Title"></ion-input>
              <ion-icon item-end name="close" (click)="removeImplementation(file)"></ion-icon>
            </ion-item>
          </ion-card>
          <ion-card class="card-item-container">
            <ion-item no-lines class="card-item-input">
              <img item-start class="item-input-image-icon" src="assets/imgs/product-implementation.png" />
              <ion-input type="text" [(ngModel)]="data.Implementation" name="Product Name" placeholder="Product Implementation (e.g.Launching)"></ion-input>
            </ion-item>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="wrapper">
          <div class="image-wrapper smaller-wrapper" *ngFor="let image of clientPathSecure">
            <ion-icon class="remove-image" name="close" (click)="removeClient(image)"></ion-icon>
            <div class="image" [style.background-image]="image.sanitize">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="alt="" />
            </div>
          </div>
          <div class="image-wrapper add-image-btn smaller-wrapper" (click)="getFilePath('client')">
            <div class="image">
              <img class="picture-image-icon" src="assets/imgs/product-add-image.png" />
            </div>
          </div>
        </div>
        <ion-label class="no-margin">Add Existing Client</ion-label>
        <ion-label class="no-margin font-size-10">(640px x 640px)</ion-label>
      </ion-col>
    </ion-row>
  </div>

  <ion-row justify-content-center class="margin-top-20">
    <button ion-button btn-kombit small type="button" (click)="publishClick()">{{btnText}}</button>
  </ion-row>
</ion-content>

<ion-footer class="tab-menu">
  <ion-toolbar class="tab-menu-toolbar">
    <footer-menu></footer-menu>
  </ion-toolbar>
</ion-footer>