page-post-new {
  ion-col {
    text-align: center;
  }
  .wrapper {
    font-size: 0;
    .image-wrapper {
      display: inline-block;
      margin: 0;
      width: 33.3333%;
      box-sizing: border-box;
      padding: 1px;
      position: relative;
      .remove-image {
        z-index: 100;
        position: absolute;
        right: 1px;
        top: 1px;
        padding: 5px 6px;
        font-size: 20px;
        text-shadow: $combitWhite 0 0 1px;
      }
      .image {
        position: relative;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        img {
          width: 100%;
        }
      }
      &.smaller-wrapper {
        width: 23%;
      }
    }
  }
  .video-wrapper {
    width: 100%;
    max-height: calc(100vw - 182px);
    display: flex;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    padding: 1px;
    position: relative;
    .placeholder {
      text-align: center;
      position: relative;
      background-size: cover;
      background-position: center center;
      img {
        object-fit: contain;
        width: 33.3333%;
      }
    }
  }
  .videoPlayer {
    max-height: calc(100vw - 182px);
  }

  .card-item-container {
    border: 1px solid $combitWhite;
    border-radius: 8px;
    box-shadow: 4px 4px 10px RGBA(0, 0, 0, 0.3);
    .item-input-icon {
      margin: 0px;
      padding-top: 6px;
      font-size: 20px;
    }
    .no-toolbar {
      padding: 0;
      border: none;
    }
    .ql-container {
      border: none;
      .ql-editor {
        font-size: 14px;
        margin: 0px;
        padding: 6px 8px;
        height: 100%;
        width: 100%;
        display: inline-block;
        &.ql-blank::before {
          font-style: normal;
          left: auto;
          right: auto;
          top: 8px;
        }
      }
    }
  }
  .quill-icon {
    width: 32px;
    &.left {
      margin: 12px 0px 6px 12px;
      padding-left: 4px;
    }
    &.right {
      margin: 12px 12px 6px 0px;
      img {
        height: 28px;
        width: 28px;
      }
    }
  }
  .quill-editor {
    width: calc(100% - 64px);
    margin: 6px 0;
  }

  .card-item-input {
    min-height: 1px;
    .item-inner {
      border-bottom: none !important;
      box-shadow: none !important;
      input {
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 6px;
      }
      .input-select {
        font-size: 14px;
        max-width: 100%;
        width: 100%;
        padding: 6px 8px;
      }
      .item-label {
        font-size: 14px;
        padding: 6px 8px;
        margin: 0;
      }
    }
  }
  .item-input-image-icon {
    margin: 0px;
    height: 20px;
    width: 20px;
  }
  .card-quill-container {
    display: flex;
    height: 216px;
  }

  .attachment-item {
    height: 32px;
    ion-label {
      padding-bottom: 8px;
    }
    ion-icon {
      font-size: 16px;
      padding-top: 8px;
    }
  }
  .segment.segment-product {
    height: 2.8rem;
    margin-bottom: 10px;
    .segment-button.segment-product-button {
      background-color: rgba(117, 117, 117, 0.4);
      height: 2.8rem !important;
      line-height: 2.8rem !important;
      font-size: 10px;
      font-weight: 600;
      font-stretch: ultra-condensed;
      border-top: none;
      border-bottom: none;
      border-radius: 4px;
      // @include color-border();
      // @include color-item();
      color: $combitBlack;
      // border-color: $combitOrange;
      &.segment-activated {
        color: $combitWhite !important;
        // @include color-background(180deg);
        background-color: $combitBlue;
        font-weight: 400;
      }
    }
  }

  .attachment-button {
    background-color: transparent;
    border-radius: 20px;
    // height: 36px;
    // width: 36px;
    ion-icon {
      font-size: 32px;
      color: $combitOrange;
    }
  }

  .implementation-item {
    padding-left: 0;
    .implementation-item-avatar {
      margin: 0;
      .image {
        width: 60px;
        background-size: cover;
        background-position: center;
      }
      .video {
        .videoPlayer {
          width: 60px;
        }
      }
    }
  }

  .image-icon-container {
    height: 36px;
    width: 36px;
  }
}
